.game-page {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f0f0f0;
}

.game-page h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 36px;
}

.container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.sidebar {
    width: 400px;
    height: 800px;
    display: grid;
    gap: 20px;
    grid-template-rows: 280px 1fr;
}

.option-box, .notation-box {
    width: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}
.notation-box{
    height: 100%;
}

.option-box h4, .notation-box h4 {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}

.notation-box p{
    display: grid;
    border: 1px solid #333;
    grid-template-columns: 20px repeat(2, 1fr);
    padding: 15px;
    row-gap: 15px;
    font-size: 20px;
}
.notation-box p span{
    font-size: 20px;
    
}


.notation-box p .move{
    padding-right: 10px;
}

.notation-box p span:not(.move){
    margin-left: 20px;
    border-bottom: solid 1px #a0a0a0;
    color: #0056b3;
}

.option-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.option-box button:hover {
    background-color: #0056b3;
}

.notation-box {
    overflow-y: auto;
    text-align: left;
}

.notation-box p {
    font-size: 16px;
    color: #333;
}

.promotion-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.promotion-bg .promotion{
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.promotion-bg .promotion p{
    font-size: 22px;
    margin-bottom: 10px;
}

.promotion-bg .promotion .btn-box{
    display: flex;
}

.promotion-bg .promotion .btn-box button:hover{
    background-color: pink;
    border-radius: 8px;
}